## Happy Hare MMU hardware config file with config for ERB

[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E661AC88633C9322-if00	# Change to `canbus_uuid: 1234567890` for CANbus setups GREEN
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E661AC886383B028-if00 # RED
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=gpio20,
    MMU_GEAR_STEP=gpio10,
    MMU_GEAR_DIR=gpio9,
    MMU_GEAR_ENABLE=gpio8,
    MMU_GEAR_DIAG=gpio13,
    MMU_SEL_UART=gpio17,
    MMU_SEL_STEP=gpio16,
    MMU_SEL_DIR=gpio15,
    MMU_SEL_ENABLE=gpio14,
    MMU_SEL_DIAG=gpio19,
    MMU_SEL_ENDSTOP=gpio24,
    MMU_SERVO=gpio23,
    MMU_ENCODER=gpio22
    

# Assuming the rest of the pins are on main mcu. You may need to comment out this section
# if using Klippain or RatOS and already have the aliases defined
#
[board_pins mcu]
aliases:
    E_TMCUART=<set_me>,
    E_DIAG=<set_me>,
    E_STEP=<set_me>,
    E_DIR=<set_me>,
    E_ENABLE=<set_me>,
    TOOLHEAD_SENSOR=<set_me>
